<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Leitor Qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

</ion-content>

<div class="screen">
  <div class="scan">
    <img id="logo" src="assets/logo.png" alt="">
  </div>
</div>

<ion-footer class="ion-no-border">
  <ion-iten *ngIf="link">
    <ion-label>
      <div>
        <a [href]="resultado" target="_blank">{{resultado}}</a>
      </div>
    </ion-label>
  </ion-iten>
  <ion-item *ngIf="resultado">
    <ion-label position="floating">Resultado:</ion-label>
    <ion-input [(ngModel)]="resultado"></ion-input>
  </ion-item>

<ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-button expand="block" (click)="lerQRCode()">Ler QRCode</ion-button>
  </ion-toolbar>
</ion-footer>